.custom-pagination {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	width: 100%;
	> * + * {
		margin-top: 0;
	}
	> * {
		display: block;
		padding: .5rem 1.5rem;
	}
	> a {
		border-radius: .5rem;
		text-decoration: none;
		color: var(--color-white);
		background-color: var(--color-primary);
		font-family: var(--font-heading);
		text-transform: uppercase;
		font-weight: 700;
		transition: background 200ms;
		&:hover {
			background-color: hsl(182.9, 41.1, 41.4);
		}
	}
	> span {
		border-radius: .5rem;
		font-family: var(--font-heading);
		text-transform: uppercase;
		font-weight: 700;
		background-color: var(--color-gray);
		color: var(--color-white);
	}
}
