body {
	padding-top: 4rem;
}
.site-wrap {
	max-width: 75rem;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}
.entry-header {
	display: none;
}
// .entry-content * + * {
// 	margin-top: var(--flow-space);
// }
.entry-content {
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}
